<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href='./image/sumMoon.jpeg'/>    
    <link rel="stylesheet" href='./css/styles.css'/>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p1>
        This site was created by Valber and Wand. It use a data from API
    </p1>
    <h2>{{CompanyName}}</h2>
    <h3>CopyRight - {{year}}</h3>
    </div>
    
    {{>footer}} 
</body>
</html>